
.content {
    position: relative;
    z-index: 1; 
    color: #19241f;
    background-color: #faedcd;
    border-radius: 2em;
    text-align: center;
    margin-top: 2em;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 6em;
    padding: 1em;
  }
  