

.links-container {
   display:inline-block; 
   text-align: left;

}


.links-container > li > a{
    text-decoration: underline;
    color: #202217;
}

.links-container > li > a:hover {
    color:#d6943a ;
}

#github  {
    text-decoration: underline;
    color: #202217;
}

#github:hover {
    color:#d6943a ;
}
.email {
    text-decoration: none;
    border: none;
    text-align: center;
    background-color: #a5a43a;
    color: white;
    padding: 1em 1em;
    border-radius: 2.5em;
    font-size:medium;
    font-optical-sizing: auto;
    font-family: "Taviraj", serif;
    font-weight: 400;
    font-style: normal;
}

.email:hover {
    background-color: #7c9aaa;
}

